<!DOCTYPE html>
<html>
<head>
    <title>Gerenciador de Câmeras</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="bg-light">

<div class="container py-4">

    <h2 class="mb-4">Adicionar Nova Câmera</h2>
    <form action="/add_camera" method="post" class="row g-3 mb-5">
        <div class="col-md-5">
            <input type="text" class="form-control" name="cam_id" placeholder="ID da Câmera" required>
        </div>
        <div class="col-md-5">
            <input type="text" class="form-control" name="rtsp_url" placeholder="RTSP URL" required>
        </div>
        <div class="col-md-2">
            <button type="submit" class="btn btn-primary w-100">Adicionar</button>
        </div>
    </form>

    <div class="card p-3 mb-4"> 
        <h5>Cadastrar Placa</h5>
        <form action="/register plate" method="post" class="row g-2">
            <div class="col-md-8">
                <input type="text" class="form-contro" name="plate" placeholder="Digite a placa (ex: ABC1234)" required>
            </div>
            <div class="col-md-4">
                <button type="submit" class="btn btn-success w-100"> Cadastrar Placa </button>
            </div>
        </form>
        <div class="ut-2">,
            <strong>Placas cadastradas:</strong>
            <ul class="list-inline">
                {% for plate in registered_plates %} 
                <li class="list-inline-item">
                    <span class="badge bg-primary">{{ plate }}</span>
                    <a href="/remove plate/{{ plate }}" class= "btn btn-sm btn-outline-danger ms-1"> Remover </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <hr>

    <h2 class="mb-4">Câmeras Ativas</h2>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        {% for cam_id in cameras %}
        <div class="col d-flex align-items-strectch">
            <div class="card shadow-sm w-100">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h5 class="mb-0">{{ cam_id }}</h5>
                    <a href="/remove_camera/{{ cam_id }}" class="btn btn-sm btn-outline-danger">Remover</a>
                </div>
                <div class="card-body p-0">
                    <img src="/video/{{ cam_id }}" class="img-fluid" alt="Stream da câmera">
                   <!-- <div id="status-{{ cam_id }}" class="p-2"></div> -->
                    
                </div>
                <div id="status-{{ cam_id }}" class="p-2"></div>
            </div>
        </div>
        {% endfor %}
    </div>

    <hr>

    <h2 class="mb-3">Últimas Placas Detectadas</h2>
    <div class="card p-3">
        <div class="row text-center fw-bold mb-2">
            <div class="col-md-4">Câmera</div>
            <div class="col-md-4">Placa</div>
            <div class="col-md-4">Data/Horário</div>
        </div>
        <div id="placa-historico">
            <p>Carregando...</p>
        </div>
    </div>


</div>

<script>
function atualizarHistorico() {
    fetch('/api/ultimas_placas')
        .then(response => response.json())
        .then(data => {
            const container = document.getElementById('placa-historico');
            if (data.length === 0) {
                container.innerHTML = '<p>Nenhuma placa detectada.</p>';
                return;
            }
            let html = '<ul class="list-group">';
            data.forEach(entry => {
            html += `
            <li class="list-group-item">
                <div class="row text-center">
                    <div class="col-md-4"><strong>${entry[1]}</strong></div> <!-- Câmera -->
                    <div class="col-md-4 text-primary"><strong>${entry[0]}</strong></div> <!-- Placa -->
                    <div class="col-md-4 text-muted">${entry[2]}</div> <!-- Data/Horário -->
                </div>
            </li>`;
        });

            html += '</ul>';
            container.innerHTML = html;
        })
        .catch(error => {
            console.error('Erro ao buscar histórico:', error);
        });
}


// Atualiza imediatamente e depois a cada segundo
//atualizarHistorico();
//setInterval(atualizarHistorico, 1000);

function atualizarStatusPlacas(){
    fetch('api/ultimas_placas')
        .then(response => response.json())
        .then(data => {
            data.forEach(entry => {
                const plate = entry[0];
                const cam_id = entry [1];
                fetch(`/api/placa_status/${plate}`)
                    .then(resp => resp.json())
                    .then(statusData => {
                        const statusDiv = document.getElementById(`status-${cam_id}`);
                        if(statusDiv){
                            statusDiv.innerHTML = `<span class="badge ${statusData.registered ? 'bg-success' : 'bg-danger'}">
                                ${plate} - ${statusData.registered ? 'Cadastrada' : 'Não cadastrada'} 
                            </span>`;
                        }
                    })
            })
        })
}

//setInterval(atualizarStatusPlacas, 1000);
//atualizarStatusPlacas();

function atualizarTudo() {
    atualizarHistorico();
    setTimeout(atualizarStatusPlacas, 300); // pequena pausa entre elas
}

setInterval(atualizarTudo, 1000); // atualiza tudo a cada 2s


</script>

</body>
</html>
